:root {
  --orange: #e86c2e;
  --light-orange: #e89a50;
  --white: #f6f7fb;
  --light-blue: #608cf7;
  --blue: #2761ef;
}

.titulo {
  color: var(--orange);
}
.subtitulo {
  color: var(--light-orange);
}

/* unvisited link */
.text-link:link {
  color: var(--light-orange);
}

/* visited link */
.text-link:visited {
  color: var(--light-blue);
}

/* mouse over link */
.text-link:hover {
  color: var(--orange);
}

/* selected link */
.text-link:active {
  color: var(--light-blue);
}

.maintxt {
  position: relative;
}
.maintxt > img,
.overlay-text {
  position: absolute;
}
